[url "https://aur.archlinux.org/"]
    insteadOf = aur:

[url "https://github.com/"]
    insteadOf = gh:

[user]
	name = Valentin Roussel
	email = valentin.rssl@gmail.com

[core]
	editor = nvim
    pager = delta --diff-so-fancy

[alias]
    st = status
    co = checkout
    ci = commit
    sw = switch
    rs = restore
    pl = pull
    ps = push

#delta
[include]
    path = /home/valentin/.config/delta/themes.gitconfig

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    features = arctic-fox
    line-numbers = false
    keep-plus-minus-markers = true

[merge]
    conflictstyle = diff3

[pull]
	rebase = true
