os:
  edit: 'tmux select-window -t :nvim; echo {{filename}} | xargs realpath --relative-to=. | xargs nvim --server "$NVIM" --remote-tab'
  editAtLine: 'tmux select-window -t :nvim; echo {{filename}} | xargs realpath --relative-to=. | xargs nvim --server "$NVIM" --remote-tab {{filename}}; [ -z "$NVIM" ] || nvim --server "$NVIM" --remote-send ":{{line}}<CR>"'
  editAtLineAndWait: 'nvim +{{line}} {{filename}}'
promptToReturnFromSubprocess: false
git:
  pagers:
    - colorArg: always
      pager: delta --diff-so-fancy --paging=never
  merging:
    args: "--no-ff"
customCommands:
  - key: b
    command: tig blame -- {{.SelectedFile.Name}}
    context: files
    description: blame file at tree
  - key: b
    command: tig blame {{.SelectedSubCommit.Sha}} -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: blame file at revision
  - key: B
    command: tig blame -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: blame file at tree
