URxvt.perl-ext-common: 52-osc,default,searchable-scrollback,matcher,resize-font
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.urgentOnBell: true
URxvt.visualBell: true

URxvt.scrollBar: true
URxvt.scrollstyle: plain
URxvt.thickness: 3

URxvt.keysym.S-M-S:searchable-scrollback:start

URxvt.url-launcher:       sensible-browser
URxvt.keysym.S-M-O: perl:matcher:list
URxvt.keysym.S-M-space: perl:matcher:select
URxvt.matcher.button:     C-1

! TokyoNight colors for Xresources

URxvt*font: xft:JetBrainsMonoNL NFM:style=Regular:size=11:antialias=true
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 50000

*background: #24283b
*foreground: #c0caf5

*color0: #1d202f
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5
